.social-icons-area{
	bottom: 0;
}
.img-header{
	top: 0;
}
div.img {	
	position: relative;
	overflow: hidden;
	margin: 0 20px 20px 0;
}
.caption {
	width: 100%;
	position: absolute;
	background: black;
	background: rgba(0,0,0,0.75);
	color: white;
	padding: 10px 20px;
	opacity: 0;	
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
}
div.img:hover .caption {
  opacity: 1;
}

/* Desktop maiores */
@media (min-width: 1200px) {
	.container {
		max-width: 890px;
	}
}
 
/* tables em formato porta retrato até os desktos no formato paisagem */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* dispositivo em paisagem até os tablets em formato porta-retrato */
@media (max-width: 767px) {
	.container{
		max-width: 767px;
	}
	.item .img img{

	}
}
 
/* dispositivo no formato paisagem e abaixos */
@media (max-width: 480px) {
	.container{
		max-width: 480px;
	}
	.item .img img{
		max-width: 490px;
	}
}

body {
	background-color: #545454;
}
.item {
	background-color: #FFF;
}